<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Project 2</title>
        <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">
        <link rel="stylesheet" href="static/css/style.css" media="screen">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"one>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <style>
            body {
                background-color:bisque;
                padding-bottom: 150px;
            }
            hr {
                height: 1px;
                border-color: black;
            }
            h1 {
                font-family: cursive;
            }
            h3 {
                font-weight: bold;
                font-family: cursive;
            }
            h5 {
                padding-top: 35px;
                font-size: 25px;
                font-weight: bold;
                font-family: cursive;
            }

        </style>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toogle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html" id="home">Nutrition Prices</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-right">
                            <li><a id="tab-color" href="vizualizations.html">Vizualizations</a></li>
                            <li><a id="tab-color" href="contributors.html">Contributors</a></li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <img id="home-photo" src="static/images/fig3.png">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Contributors</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Tyler Jones</h3>
                    <img src="static/images/tyler.png">
                </div>
                <div class="col-md-6">
                    <h3>Steven Ortiz</h3>
                    <img src="static/images/steven.png">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5>Andrew Roche</h5>
                    <img src="static/images/andrew.png">
                </div>
                <div class="col-md-6">
                    <h5>Joseph Mangahas</h5>
                    <img id="joseph" src="static/images/joseph.png">
                </div>
            </div>
        </div>
    </body>
</html>